@model FlashCards.Models.FlashCards.FlashCardModel

<h2>Create</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Topics" class="control-label"></label>
        @Html.DropDownListFor(m => m.Topics, new SelectList(Enum.GetValues<FlashCards.Enums.Topics>()), "Select Topic")
        <span asp-validation-for="Topics" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubTopics" class="form-label"></label>
        @Html.TextBoxFor(m => m.SubTopics)
        <span asp-validation-for="SubTopics"></span>
    </div>
    <div class="form-group">
        <table id="AddFrontContentTable">
            <tr>
                <th>@Html.DisplayNameFor(model=>model.Front)</th>
            </tr>
        </table>
        <button onclick="addRowFront()" type="button" class="btn btn-secondary">Add new Content</button>
    </div>
    <div class="form-group">   
        <table id="AddBackContentTable">
            <tr>
                <th>@Html.DisplayNameFor(model=>model.Back)</th>
            </tr>
        </table>
        <button onclick="addRowBack()" type="button" class="btn btn-secondary">Add new Content</button>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        var counterFront = 0;
        var inputClass = 'class="form-control form-control-text"';
        function addRowFront() {
            var table = document.getElementById("AddFrontContentTable");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = `<input type="text" name="Front.Content['${counterFront}']" ${inputClass} />`;
            counterFront++;
        }

        var counterBack = 0;
        function addRowBack() {
            var table = document.getElementById("AddBackContentTable");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = `<input type="text" name="Back.Content['${counterBack}']" ${inputClass} />`;
            counterBack++;
        }
    </script>
}